{% extends "base.html" %}
{% load time_since %}
{% load query_params %}

{% block title %}Мои записки{% endblock title %}

{% block h1 %}Мои записки{% endblock h1 %}

{% block content %}
<form method="get" action="" class="d-flex mb-3" role="search">
    <input class="form-control me-2" type="search" placeholder="Поиск записок" aria-label="Search" name="search" value="{{ request.GET.search }}">
    <button class="btn btn-outline-success" type="submit">Искать</button>
</form>

<div class="mb-3">
    <a href="{% url 'note_add'%}" class="btn btn-primary">Добавить записку</a>
    <a href="?favorites=true" class="btn btn-primary">Избранное</a>

    <div class="dropdown d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Сортировка
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a href="?{% add_query_params request 'ordering' 'title' %}" class="dropdown-item">По названию</a></li>
            <li><a href="?{% add_query_params request 'ordering' 'oldest' %}" class="dropdown-item">Сначала старые</a></li>
            <li><a href="?{% add_query_params request 'ordering' 'newest' %}" class="dropdown-item">Сначала новые</a></li>
        </ul>
    </div>
</div>

{% if "search" in request.GET %}
<h2>Поиск записок по запросу "{{ request.GET.search }}"</h2>
<a href="{% url 'notes'%}" class="btn btn-primary mb-3">Назад к списку записок</a>
{% endif %}

{% for note in notes %}
<div class="card mb-3">
    <div class="card-header">
        <p class="mb-0 color-red">
            Создан: {% time_since_24h note.created_at %}
            <a href="{% url 'note_favorite' note.pk%}">
                {% if note.is_favorite %}
                <i class="bi bi-star-fill" style="color: gold;"></i>
                {% else %}
                <i class="bi bi-star" style="color: gold;"></i>
                {% endif %}
            </a>
        </p>
        {% if note.tags.exists %}
        <p class="mt-3 mb-0">
            Теги:
            {% for tag in note.tags.all %}
            <a href="?tag={{ tag.slug }}">{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {% if note.image %}
                <img src="{{ note.image.url }}" class="img-fluid rounded-start mx-auto d-block" alt="Картинка записки">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text|truncatechars:200 }}</p>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="btn-group">
            <a href="{% url 'note' note.pk %}" class="btn btn-primary">Подробнее</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'note_update' note.pk %}">Изменить</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'note_delete' note.pk %}">Удалить</a></li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

{% if page.paginator.count > 0 %}
<nav aria-label="...">
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% add_query_params request 'page' 1 %}">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% add_query_params request 'page' page.previous_page_number %}"><</a>
        </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page.number }}</span>
        </li>
        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% add_query_params request 'page' page.next_page_number %}">></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% add_query_params request 'page' page.paginator.num_pages %}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}