{% extends "base.html" %}

{% block title %}Мои записки{% endblock title %}

{% block h1 %}Мои записки{% endblock h1 %}

{% block content %}
{% for note in notes %}
<div class="card mb-3">
    <div class="card-header">
        Создан: {{ note.created_at }}
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {% if note.image %}
                <img src="{{ note.image.url }}" class="img-fluid rounded-start mx-auto d-block" alt="Картинка записки">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text }}</p>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="btn-group">
            <a href="{% url 'note' note.pk %}" class="btn btn-primary">Подробнее</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Изменить</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'note_delete' note.pk %}">Удалить</a></li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}